@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.footer__logo a {
  font-family: "Shrikhand", cursive;
}

/* Breakpoints BOOTSTRAP	
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
/* @mixin x-small-screen{
    @media (max-width: 576px) { @content; }
  }
  @mixin small-screen{
    @media (max-width: 768px) { @content; }
  }
  @mixin medium-screen{
    @media (max-width: 948px) { @content; }
  }
  @mixin large-screen{
    @media (max-width: 1200px) { @content; }
  }
  @mixin x-large-screen{
    @media (max-width: 1400px) { @content; }
  } */
/* @mixin spinner{
  .spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 20;
    animation: spinner 2s linear ;
    visibility: hidden;
    &__border {
        @include flex-row;
        @include totally-centered-flex;
        border: 10px solid transparent;
        border-top: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        animation: spinner-border 2s linear ;
        z-index: 10;
        visibility: hidden;
    }
    &__center {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-tertiary;

    }
}

@keyframes spinner {
  0% {
      visibility: visible;
      opacity: 0.9;
  }
  70% {
      opacity: 0.9;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes spinner-border {
  0% {
      visibility: visible;
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  100% {
      transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
  }
}

} */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: #F2F2F2;
  margin: 0;
  width: 100%;
  /*     &__logo{
          font-size: 60px; 
      } */
}
.header__logo img {
  color: black;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: 5px;
  width: 170px;
  height: auto;
}
@media (min-width: 992px) {
  .header__logo img {
    width: 200px;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .header__logo img {
    width: 260px;
  }
}
.header__prev-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
}
@media (min-width: 992px) {
  .header__prev-icon {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .header__prev-icon {
    font-size: 30px;
  }
}
.header__prev-icon a {
  color: black;
}
.header__logo a {
  color: black;
}

/* IMAGE */
.image {
  position: relative;
  z-index: 0;
}

.image img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .image img {
    max-height: 320px;
  }
}
@media (min-width: 992px) {
  .image img {
    max-height: 340px;
  }
}
@media (min-width: 1200px) {
  .image img {
    max-height: 360px;
  }
}

.heart {
  font-size: 25px;
  padding-right: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}
.heart__solid {
  color: transparent;
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
}
.heart__solid:hover {
  animation: fulfill 1s forwards;
}
.heart__regular {
  position: absolute;
}

@keyframes fulfill {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/* MENU */
.menu {
  max-width: 1400px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  z-index: 1;
  background-color: #F2F2F2;
  box-sizing: border-box;
  padding: 0;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .menu {
    width: 85%;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 5px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}
.menu__title h1 {
  font-size: 24px;
  margin-bottom: 0;
}
.menu__global-container {
  margin: 0;
}
.menu__container-title h2 {
  font-weight: lighter;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.menu__container-title h2::after {
  content: "";
  background: #99E2D0;
  position: relative;
  margin-top: 5px;
  height: 3px;
  width: 40px;
}
.menu__individual-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1px 3px 1px #888888;
  border-radius: 17px;
  cursor: pointer;
  width: calc(97% - 50px);
  position: relative;
  height: 65px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: opacity 5s forwards;
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .menu__individual-box {
    width: calc(100% - 50px);
  }
}
.menu__individual-box:hover {
  width: calc(97% - 50px);
}
@media (min-width: 768px) {
  .menu__individual-box:hover {
    width: calc(100% - 50px);
  }
}
.menu__individual-box:hover .menu__box-circle-check {
  animation: slide-left 0.8s ease;
  transform-origin: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
.menu__individual-box:hover .menu__box-price {
  margin-left: 0;
  padding-right: 0;
  transition: 1s ease;
}
.menu__box-title p {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: 0 0 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__box-sub-title p {
  font-size: 12px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__box-text {
  font-size: 12px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__box-price {
  margin: 20px 20px 0 0;
  font-weight: bold;
  font-size: 13px;
}
.menu__box-circle-check {
  background: #99E2D0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 17px 17px 0;
  right: 0px;
  padding: 0;
  width: 100px;
  display: none;
}
.menu__box-circle-check i {
  color: white;
  font-size: 20px;
  transform: rotate(180deg);
  animation: rotate 0.7s both;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu__order-button {
  margin: 30px 0 60px 0;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 45px;
  line-height: 1.4;
  padding: 6px 40px 6px 40px;
  filter: brightness(1);
}
.menu__order-button:hover {
  filter: brightness(1.4);
  box-shadow: 2px 2px 1px grey;
}
@media (min-width: 768px) {
  .menu {
    margin: auto;
    margin-top: -50px;
  }
  .menu__global-container {
    display: grid;
    grid-template-areas: "entries dishes desserts";
    grid-template-rows: 1fr;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
  }
  .menu__individual-box {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .menu__individual-box {
    height: 60px;
  }
}

#entries {
  grid-area: entries;
}

#dishes {
  grid-area: dishes;
}

#desserts {
  grid-area: desserts;
}

/* FOOTER */
.footer {
  background: #2e2a2a;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.footer__global-container {
  box-sizing: border-box;
  padding-left: 40px;
}
.footer__logo {
  font-size: 15px;
  color: white;
  padding-top: 15px;
  margin-bottom: 12px;
}
.footer__logo a {
  color: white;
}
.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0;
  cursor: pointer;
}
.footer__item ul {
  padding: 0;
  margin: 0;
}
.footer__item i {
  font-size: 12px;
  width: 8px;
  padding-right: 12px;
}
.footer__item li {
  margin: 10px 120px 20px 0;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 5px;
  list-style-type: none;
}
.footer__item li a {
  color: white;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 0;
    width: 100%;
  }
  .footer__global-container {
    width: 100%;
    margin: 0;
    padding: 20px 0 30px 33px;
  }
  .footer__logo {
    font-size: 25px;
  }
  .footer__item ul {
    display: flex;
    flex-direction: row;
  }
  .footer__item li {
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .footer__global-container {
    padding: 20px 0 30px 100px;
  }
  .footer__item li {
    font-size: 15px;
  }
}
@media (min-width: 1600px) {
  .footer__global-container {
    width: 100%;
    margin: 0;
  }
  .footer__logo {
    font-size: 25px;
    text-align: center;
    width: calc(100% - 600px);
  }
  .footer__item {
    justify-content: center;
    align-items: center;
  }
  .footer__item ul {
    display: flex;
    flex-direction: row;
  }
  .footer__item li {
    margin: 10px 40px 20px 40px;
  }
}

/*# sourceMappingURL=pages.css.map */
