@charset "UTF-8";
body {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.footer__logo a {
  font-family: "Shrikhand", cursive;
}

/* Breakpoints BOOTSTRAP	
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
/* @mixin x-small-screen{
    @media (max-width: 576px) { @content; }
  }
  @mixin small-screen{
    @media (max-width: 768px) { @content; }
  }
  @mixin medium-screen{
    @media (max-width: 948px) { @content; }
  }
  @mixin large-screen{
    @media (max-width: 1200px) { @content; }
  }
  @mixin x-large-screen{
    @media (max-width: 1400px) { @content; }
  } */
.spinner {
  background-color: white;
  height: 100%;
  width: 100%;
  animation: spinner 3s linear;
  z-index: 4;
  position: fixed;
  visibility: hidden;
}

.double-bounce1, .double-bounce2 {
  width: 300px;
  height: 300px;
  margin: auto;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: 0.6;
  top: 0;
  left: 0;
  animation: sk-bounce 2.7s infinite ease-in-out;
}

.double-bounce1 {
  background-color: #9356DC;
}

.double-bounce2 {
  animation-delay: -1s;
  background-color: #FF79DA;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.05;
    visibility: hidden;
  }
}
body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: #F2F2F2;
  margin: 0;
  width: 100%;
}
.header__logo {
  color: black;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: 5px;
}
.header__prev-icon {
  position: absolute;
  left: 15px;
}
.header__prev-icon a {
  color: black;
}
.header__logo {
  font-size: 60px;
}
.header__logo a {
  color: black;
}

/* IMAGE */
.image {
  position: relative;
  z-index: 0;
}

.image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.heart {
  font-size: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}
.heart__solid {
  color: transparent;
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
}
.heart__solid:hover {
  animation: fulfill 1s forwards;
}
.heart__regular {
  position: absolute;
}

@keyframes fulfill {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/* MENU */
.menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  z-index: 1;
  background-color: #F2F2F2;
  padding: 0;
  margin: 0;
  margin-top: -60px;
  width: 100%;
  display: grid;
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 15px;
  padding-top: 10px;
}
.menu__title h1 {
  font-size: 24px;
}
.menu__global-container {
  margin-inline: 15px;
}
.menu__container-title h2 {
  margin-left: 5px;
  padding-top: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.menu__container-title h2::after {
  content: "";
  background: #99E2D0;
  position: relative;
  margin-top: 5px;
  height: 5px;
  width: 75px;
}
.menu__individual-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1px 3px 1px #888888;
  border-radius: 17px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  animation: opacity 10s forwards;
  background-color: white;
}
.menu__individual-box:hover .menu__box-circle-check {
  animation: slide-left 0.8s ease;
  transform-origin: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu__individual-box:hover .menu__box-price {
  margin-left: 70px;
  transition: 1s ease-in-out;
}
.menu__box-title {
  font-weight: bold;
}
.menu__box-text {
  font-size: 12px;
  margin-left: 25px;
  width: 100%;
}
.menu__box-price {
  margin-right: 20px;
  font-weight: bold;
}
.menu__box-circle-check {
  background: #99E2D0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 17px 17px 0;
  right: 0px;
  padding: 0;
  width: 100px;
  display: none;
}
.menu__box-circle-check i {
  color: white;
  font-size: 50px;
  transform: rotate(180deg);
  animation: rotate 0.7s forwards;
}
.menu__order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu__order-button {
  margin: 30px 0 30px 0;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  line-height: 1.5;
  padding: 6px 35px 6px 35px;
  filter: brightness(1);
}
.menu__order-button:hover {
  filter: brightness(1.4);
  box-shadow: 2px 2px 1px grey;
}
@media (min-width: 992px) {
  .menu {
    margin: auto;
    margin-top: -50px;
  }
  .menu__global-container {
    display: grid;
    grid-template-areas: "entries dishes desserts";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
@media (min-width: 1200px) {
  .menu__individual-box {
    height: 50px;
  }
}

#entries {
  grid-area: entries;
}

#dishes {
  grid-area: dishes;
}

#desserts {
  grid-area: desserts;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/* FOOTER */
.footer {
  background: #2e2a2a;
  padding-left: 30px;
  padding-bottom: 20px;
}
.footer__logo {
  font-size: 15px;
  color: white;
  padding-top: 15px;
  max-width: 1440px;
  width: 97%;
  margin-bottom: 12px;
}
.footer__logo a {
  color: white;
}
.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0;
  cursor: pointer;
  max-width: 1440px;
  width: 97%;
}
.footer__item i {
  font-size: 12px;
  width: 8px;
  padding-right: 12px;
}
.footer__item li {
  margin: 6px 120px 20px 0;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 5px;
}
.footer__item li a {
  color: white;
}
@media (min-width: 992px) {
  .footer {
    padding-left: auto;
  }
  .footer__logo {
    font-size: 25px;
  }
  .footer__item {
    flex-direction: row;
  }
  .footer__item li {
    font-size: 20px;
    margin: 20px 120px 20px 0;
  }
}

/*# sourceMappingURL=pages.css.map */
