@mixin button{
    background: $gradient;
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    line-height: 1.5;
    padding: 6px 20px;
    filter: brightness(1);
    &:hover{
        filter: brightness(1.40);
        box-shadow: 2px 2px 1px grey;
    }
    }    