@mixin button{
    background: $gradient;
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    line-height: 1.4;
    padding: 6px 40px 6px 40px;
    filter: brightness(1);
    &:hover{
        filter: brightness(1.40);
        box-shadow: 2px 2px 1px grey;
    }
    }    