@mixin footer{

    .footer{
        background: black;
        margin-top: 20px;
        padding-left: 30px;
        
        &__logo{
            font-size: 15px;
            color: white;
            padding-top: 10px;
            @include global-positioning();
        }
        &__logo a{
            color: white;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: flex-start; 
            align-items: flex-start;
            list-style-type:none;
            padding-left: 0;
            cursor: pointer;
            @include global-positioning();
        }
        &__item li{
            margin: 6px 120px 20px 0;
            color: white;
            font-size: 15px;
            }
        &__item li a{
            color: white;
            }

        @include large-screen{
            padding-left: auto;
                &__logo{
                    font-size: 60px;
                }
                &__item{
                    flex-direction: row;
                }
                &__item li{
                font-size: 20px;
                margin: 20px 120px 20px 0;
                }
            }
        }
    }



