@mixin footer{

    .footer{
        background: #2e2a2a;
        padding-bottom: 20px;
        margin-bottom: 0;

        &__global-container{
            box-sizing: border-box;
            padding-left: 40px;
    }
        &__logo{
            font-size: 15px;
            color: white;
            padding-top: 15px;
            margin-bottom: 12px;
        }
        &__logo a{
            color: white;
        }
        &__item{
            @include flex-column();
            @include totally-flex-started();
            list-style-type:none;
            padding-left: 0;
            cursor: pointer;
        }
        &__item ul{
            padding: 0;
            margin: 0;
        }
        &__item i{
            font-size: 12px;
            width: 8px;
            padding-right: 12px;
        }
        &__item li{
            margin: 10px 120px 20px 0;
            color: white;
            font-size: 15px;
            box-sizing: border-box;
            padding: 0;
            margin-bottom: 5px;
            list-style-type:none;
            }
        &__item li a{
            color: white;
            }

        @include medium-screen{
            padding-left: 0;
            width: 100%;
            &__global-container{
                width: 100%;
                margin: 0;
                padding: 20px 0 30px 33px;
                }
                &__logo{
                    font-size: 25px;
                }
                &__item ul{ 
                    @include flex-row();
                }
                &__item li{
                font-size: 14px;
                }
            }

            @include xx-large-screen{
                &__global-container{
                    padding: 20px 0 30px 100px;
                }
                &__item li{
                    font-size: 15px;
                }
            }
            
        @include xxx-large-screen{
            &__global-container{
                width: 100%;
                margin: 0;
                }
                &__logo{
                    font-size: 25px;
                    text-align: center;
                    width: calc(100% - 600px);
                }
                &__item{
                    @include totally-centered-flex();
                }
                &__item ul{ 
                    @include flex-row();
                }
                &__item li{
                margin: 10px 40px 20px 40px;
                }
            }
        }
    }



