@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";
@import "./base/base-rules";
@import "./base/typography";
@import "./base/breakpoints";
@import "./components/button";
@import "./components/heart";
@import "./components/spinner";


@include spinner();

h2{
    font-size: 30px
}

.header{
    @include global-positioning();

    &__logo{
    @include flex-row();
    @include totally-centered-flex();
    font-size: 50px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 10px 10px 0px black;
    padding-bottom: 10px;
    }
}

.localisation{
    @include flex-row();
    @include totally-centered-flex();
    font-size: 20px;
    background-color: rgba(223, 215, 215, 0.911);
    padding: 15px 0 15px 0;
    box-shadow: 2px;
}

.localisation i{
    margin-right: 10px;
}

/* EXPLORATION SECTION */

.exploration{
    @include flex-row();
    @include totally-centered-flex();
    flex-direction: column;
    background-color: #F2F2F2;
    padding-top: 10px;
    margin: 0;
    width: 100%;

    &__title{
        margin-bottom: 15px;
        max-width: 370px;
        text-align: center;
    }
    &__sub-title{
        font-size: 20px;
    }
    &__button{
        @include totally-centered-flex();
        @include button();
        margin-bottom: 20px;
    }
}


/* STEPS SECTION  */

.steps{
    @include global-positioning();
    padding-bottom: 25px;

    &__three-bars{
        @include flex-column();
        @include totally-centered-flex();
        gap: 20px;
    }

    @include medium-screen{
        &__three-bars{
            @include flex-row();
        }  
    }

    &__individual-bar{
        @include flex-row();
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        box-shadow: $standard-box-shadow;
        border-radius: 50px;
        height: 40px;
        background-color: #F2F2F2;
        cursor: pointer;
    }

    @include medium-screen{
        &__individual-bar{
            width: 33%;;
        }  
    }

    &__number{
        background-color: $color-primary;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        font-size: 16px;
        position: absolute;
        text-align: center;
        margin-bottom: -2px; // à vérifier (illusion optique)
        margin-left:-5px;
    }

    &__icon{
        margin-left: 30px;
        margin-bottom: -3px; // à vérifier (illusion optique)
    }

    &__icon i{
        color: grey;
    }

    &__text{
        margin-left: 10px;
        font-size: 12px;
        padding-right: 5px;
    }

}

/* RESTAURANTS SECTION */

.restaurants{
    @include heart();
    background-color: #F2F2F2;
    margin: 0;
    width: 100%;

    &__title{
        @include flex-row();
        @include totally-centered-flex();
        box-sizing: border-box;
        margin-right: 120px;
        padding-top: 30px;
    }

    @include large-screen{
        &__title{
            margin-right: 450px;
        }  
    }

    &__four-boxes{
        @include flex-row();
        @include totally-centered-flex();
        flex-wrap: wrap;
        width: 50%;
        margin: auto;
        gap : 15px;
        padding-bottom: 20px;
    }

    &__four-boxes a{
        color: black;
    }

    &__individual-box{
        box-shadow: $standard-box-shadow;
        border-radius: 20px;
        height: 270px;
        width: 300px;
        @include flex-column();
        cursor: pointer;
    }

    &__image{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &__new{
        position: absolute;
        box-shadow: $standard-box-shadow;
        border-radius: 5px;
        background-color: $color-tertiary;
        color: #285c10;
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
        align-self: flex-end;
        font-weight: bold;
        font-size: 12px;
    }

    &__box-content{
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }

    &__text-title{
        font-weight: bold;
    }

    @include large-screen{
        &__four-boxes{
            width: 800px;
        }  
    }
}


/* FOOTER */

@include footer();









   
   
   
