@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";
@import "./base/base-rules";
@import "./base/typography";
@import "./base/breakpoints";
@import "./components/button";
@import "./components/heart";
@import "./components/spinner";


@include spinner();

h2{
    font-size: 28px
}

.header{

    &__logo{
    @include flex-row();
    @include totally-centered-flex();
    font-size: 50px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 10px 10px 0px black;
    padding-bottom: 20px;
    margin-top: 20px
    }
}

.localisation{
    @include flex-row();
    @include totally-centered-flex();
    font-size: 15px;
    background-color: rgba(223, 215, 215, 0.911);
    padding: 15px 0 15px 0;
    box-shadow: 2px;
}

.localisation i{
    margin-right: 10px;
}

/* EXPLORATION SECTION */

.exploration{
    @include flex-row();
    @include totally-centered-flex();
    flex-direction: column;
    background-color: #F2F2F2;
    padding-top: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 45px;

    &__title{
        margin-bottom: 5px;
        max-width: 370px;
        text-align: center;
        box-sizing: border-box;
        padding: 0 20px 0 20px;
    }
    &__sub-title{
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
    }
    &__button{
        @include totally-centered-flex();
        @include button();
    }
}


/* STEPS SECTION  */

.steps{
    box-sizing: border-box;
    padding: 15px 15px 25px 15px;

    &__title{
        overflow-wrap: break-word;
    }

    &__three-bars{
        @include flex-column();
        @include totally-centered-flex();
        gap: 20px;
    }

    @include medium-screen{
        &__three-bars{
            @include flex-row();
        }  
    }

    &__individual-bar{
        @include flex-row();
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        box-shadow: $standard-box-shadow;
        border-radius: 20px;
        height: 60px;
        background-color: #F2F2F2;
        cursor: pointer;
    }

    @include medium-screen{
        &__individual-bar{
            width: 33%;;
        }  
    }

    &__number{
        background-color: $color-primary;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        font-size: 12px;
        position: absolute;
        text-align: center;
    }

    &__number p{
        margin-top: 3px;
    }

    &__icon{
        margin-left: 30px;
    }

    &__icon i{
        color: grey;
    }

    &__text{
        margin-left: 10px;
        font-size: 12px;
        padding-right: 5px;
        font-weight: bold;
    }

}

/* RESTAURANTS SECTION */

.restaurants{
    @include heart();
    background-color: #F2F2F2;
    margin-top: 30px;
    width: 100%;
    padding-bottom: 40px;

    &__four-boxes{
        @include flex-column();
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        width: 100%;
    }

    &__four-boxes a{
        color: black;
        width: 90%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    &__title{
        box-sizing: border-box;
        padding: 30px 0 0 15px;
    }

    @include x-small-screen{
        &__title{    
        text-align: center;
        margin-left:  -350px;
    }
    }

    @include medium-screen{
        &__title{    
        margin-left:  -560px;
    }
    }

    &__row1{
        width: 100%;
        @include flex-column();
        @include totally-centered-flex();
    }

    &__row2{
        width: 100%;
        @include flex-column();
        @include totally-centered-flex();
    }

    @include medium-screen{
        &__row1{
            @include flex-row();
        }  
    }

    @include medium-screen{
        &__row2{
            @include flex-row();
        }  
    }

    &__individual-box{
        box-shadow: $standard-box-shadow;
        border-radius: 20px;
        height: 270px;
        width:100%;
        box-sizing: border-box;
        margin : 15px 0 0 0;
        @include flex-column();
        cursor: pointer;
    }

    @include x-small-screen{
        &__four-boxes a{
            width: 500px;
        }  
    }

    @include medium-screen{
        &__four-boxes a{
            width: 360px;
            box-sizing: border-box;
            padding: 0 10px 0 10px;
        }  
    }

    &__image{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &__new{
        position: absolute;
        box-shadow: $standard-box-shadow;
        border-radius: 3px;
        background-color: $color-tertiary;
        color: #285c10;
        margin-top: 30px;
        margin-right: 30px;
        padding: 8px 15px 5px 15px;
        align-self: flex-end;
        font-weight: bold;
        font-size: 12px;
    }

    &__box-content{
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }

    &__text-title{
        font-weight: bold;
    }

}


/* FOOTER */

@include footer();









   
   
   
