@mixin global-positioning {
    max-width: 1440px;
    width: 97%;
    margin : auto;
}

@mixin totally-centered-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 8px 0 0 0;
}

a{
    text-decoration:none;
}

h1{
    font-size: 30px
}

.header{
    @include global-positioning();

    &__logo{
    @include totally-centered-flex();
    font-size: 50px;
    color: black;
    cursor: pointer;
    }
}

.localisation{
    @include totally-centered-flex();
    font-size: 20px;
    margin-top: 40px;
}

.localisation i{
    margin-right: 10px;
}

/* EXPLORATION SECTION */

.exploration{
    @include global-positioning();

    @include totally-centered-flex();
    flex-direction: column;

    &__title{
        margin-bottom: 15px;
        max-width: 370px;
        text-align: center;
    }
    &__sub-title{
        font-size: 20px;
    }
    &__button{
        align-items: center;
        background-color: #3EB2FD;
        border-radius: 100px;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 20px;
        height: auto;
        line-height: 1.5;
        padding: 6px 20px;
        text-align: center;
    }
}


/* STEPS SECTION  */

.steps{
    @include global-positioning();

    &__three-bars{
        @include totally-centered-flex();  
        gap: 20px;
    }

    &__individual-bar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 33%;
        box-shadow: 10px 10px 8px #888888;
        border-radius: 50px;
        height: 40px;
        cursor: pointer;
    }

    &__number{
        background-color: purple;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        font-size: 16px;
        position: absolute;
        text-align: center;
        margin-bottom: -2px; // à vérifier (illusion optique)
        margin-left:-5px;
    }

    &__icon {
        margin-left: 30px;
        margin-bottom: -3px; // à vérifier (illusion optique)
    }

    &__text {
        margin-left: 10px;
    }
}

/* RESTAURANTS SECTION */

.restaurants{
    @include global-positioning();

    &__four-boxes{
        @include totally-centered-flex();  
        flex-wrap: wrap;
        width: 800px;
        margin: auto;
        gap : 15px;
    }

    &__individual-box{
        box-shadow: 10px 10px 8px #888888;
        border-radius: 20px;
        height: 270px;
        width: 300px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    &__image{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &__new{
        position: absolute;
        box-shadow: 10px 10px 8px #888888;
        background-color: green;
        color: #149BF3;
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
        align-self: flex-end;
    }

    &__box-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        padding: 20px
    }
}

/* FOOTER */


.footer{
    background: grey;
    margin-top: 20px;

    &__logo{
        font-size: 60px;
        @include global-positioning();
    }

    &__logo a{
        color: white;
    }

    &__item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: flex-start;
        list-style-type:none;
        padding-left: 0;
        cursor: pointer;
        @include global-positioning();
    }
    &__item li{
        margin: 20px 120px 20px 0;
        color: white;
        font-size: 20px;
        }
        &__item li a{
            color: white;
            }
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
   
.restaurants{
    &__four-boxes{
        width: 50%;
    }  
   
    &__individual-box{
        height: 270px;
        width: 300px;
    }
}

.footer{
padding-left: 30px;
    &__logo{
        font-size: 40px;
    }
    &__item{
        flex-direction: column;
        list-style-type:none;
    }

    &__item li{
    font-size: 15px;
    margin-top: 6px;
    }
}
}

@media screen and (max-width: 576px) {
   
.steps{
    &__text {
        font-size: 12px;
        padding-right: 5px;
    }
}
}


   
   
   
