@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";
@import "./base/base-rules";
@import "./base/typography";
@import "./base/breakpoints";
@import "./components/button";
@import "./components/heart";
@import "./components/spinner";

html{
    margin : 0;
    height: auto;
    width: 100%;
}

body{
    margin : 0;
    height: auto;
    width: 100%;
}

.header{
    @include flex-row();
    @include totally-centered-flex();
    margin-bottom: 15px;
    background-color: #F2F2F2;
    margin: 0;
    width: 100%;

    &__logo img{
        color: black;
        cursor: pointer;
        padding-bottom: 5px;
        margin-top: 5px;
        width: 160px;
        height: auto;
        }


    &__prev-icon{
        position: absolute;
        left: 15px;
    }

    &__prev-icon a{
    color: black;
    }

    &__logo{
        font-size: 60px; 
    }
    
    &__logo a{
    color: black;
    }
}

/* IMAGE */

.image {
  position: relative;
  z-index: 0;
}

.image img{
    width:100%;
    max-height: 300px;
    object-fit: cover;
    @include medium-screen{
        max-height: 460px;        
}  
@include large-screen{
    max-height: 480px;        
}  
@include x-large-screen{
    max-height: 540px;        
}  

}

@include heart();


/* MENU */

.menu{
    max-width: 1400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    z-index: 1;
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: 0;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    @include large-screen{
            width: 85%;         
    }  

    &__title{
    @include flex-row;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    }

    &__title h1{
        font-size: 24px;
        margin-bottom: 0;
        }

    &__global-container{
    margin:0;
    } 

    &__container-title h2{
        font-weight: lighter;
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 15px;
        @include flex-column;
        &::after {
            content: '';
            background: $color-tertiary;
            position: relative;
            margin-top: 5px;
            height: 3px;
            width: 40px;
        }        
    }
    
    &__individual-box{
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    box-shadow: $standard-box-shadow;
    border-radius: 17px;
    cursor :pointer;
    width: 250px;
    position:relative;
    height : 65px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    animation: opacity 10s forwards;
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include xxx-small-screen{
        width: 300px;
        }

    @include xx-small-screen{
        width: 400px;
        }

    @include x-small-screen{
        width: 550px;
        }

    @include medium-screen{
    width: 240px;
    }
    
    @include large-screen{
        width: 250px; 
    }
    @include x-large-screen{
        width: 320px;
    }
    @include xx-large-screen{
        width: 380px;
    }

/*     &:hover {
        width: 290px;

        @include x-small-screen{
            width: 550px;
            }

        @include medium-screen{
            width: 250px;
    } 

    @include large-screen{
        width: 250px; 
      }
      @include x-large-screen{
        width: 320px;
      }
      @include xx-large-screen{
        width: 380px;
      }

}
 */
    &:hover .menu__box-circle-check{
        animation: slide-left 0.8s ease ;
        transform-origin: right;
        @include flex-row();
        @include totally-centered-flex();
    } 

    &:hover .menu__box-price{
        margin-left: 0;
        padding-right: 0;
        transition: 1s ease;
    }
    }

  &__box-title p{
      font-weight: bold;
      font-size: 15px;
      margin: 0;
      padding: 0 0 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  &__box-sub-title p{
    font-size: 12px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  
  &__box-text{
      font-size: 12px;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px 0 10px;
      white-space: nowrap;
      overflow: hidden;
  }

  &__box-price{
    margin: 20px 20px 0 0;
    font-weight: bold;
    font-size: 13px;

}

  &__box-circle-check{
      background: $color-tertiary;
      height: 100%;
      @include flex-row;
      @include totally-centered-flex;
      border-radius: 0 17px 17px 0;
      right: 0px;
      padding: 0;
      width: 100px;
      display: none;
  }

  &__box-circle-check i{
    color: white;
    font-size: 20px;
    transform: rotate(180deg);
    animation: rotate 0.7s both;
}

&__order{
    @include flex-row;
    @include totally-centered-flex;
}

&__order-button{   
margin: 30px 0 30px 0;
@include button();
}

@include medium-screen{
    margin: auto;
    margin-top: -50px;

        &__global-container{
            display: grid;
            grid-template-areas: "entries dishes desserts";
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap:10px;
        }
        &__individual-box{
            height: 80px;
            }
    }

    @include x-large-screen{
        &__individual-box{
        height: 60px;
        }
    }   
}

#entries{
    grid-area: entries;
}

#dishes{
    grid-area: dishes;
}

#desserts{
    grid-area: desserts;
}

@keyframes rotate {
0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-left{
    0%{transform:scaleX(0);transform-origin:100% 100%;opacity:1}
    100%{transform:scaleX(1);transform-origin:100% 100%;opacity:1}
}

@keyframes opacity {
0% {
            opacity: 0;
}
60%{
            opacity: 0.9;
}    
100% {
            opacity: 1;
}
}


/* FOOTER */

@include footer();







    
