@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";
@import "./base/base-rules";
@import "./base/typography";
@import "./base/breakpoints";
@import "./components/button";
@import "./components/heart";
@import "./components/spinner";


.header{
    @include global-positioning();
    @include flex-row();
    @include totally-centered-flex();
    margin-bottom: 30px;

    &__prev-icon{
        position: absolute;
        left: 15px;
    }

    &__prev-icon a{
    color: black;
    }

    &__logo{
        font-size: 60px; 
    }
    &__logo a{
    color: black;
    }
}

/* IMAGE */

.image {
  position: relative;
  z-index: 0;
}

.image img{
    width:100%;
    max-height: 500px;
    object-fit: cover;
}


/* MENU */

.menu{
    @include global-positioning();
    box-shadow: $standard-box-shadow;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0;
    margin: 0;
    margin-top: -60px;
    width: 100%;
    display: grid;

    &__title{
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
    }

    &__global-container{
   margin-inline: 15px;
    }

    &__container{

    }

    &__container-title{
        margin-left: 25px;
        margin-top: 10px;
    }
    
    &__individual-box{
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    box-shadow: $standard-box-shadow;
    border-radius: 50px;
    cursor :pointer;
    width: 100%;
    height : 60px;
    margin-top: 20px;
    &:hover .menu__box-circle-check{
        animation: slide-left 0.8s ease ;
        transform-origin: right;
        @include flex-row();
        @include totally-centered-flex();
    } 
    &:hover .menu__box-price{
        margin-left: 70px;
        transition: 1s ease-in-out ;
    }
    }

  &__box-text{
      font-size: 12px;
      margin-left: 25px;
      width: 100%;
  }

  &__box-price{
    margin-right: 20px;
}

  &__box-circle-check{
      background: $color-tertiary;
      height: 100%;
      @include flex-row;
      @include totally-centered-flex;
      border-radius: 0 50px 50px 0;
      right: 0px;
      padding: 0;
      width: 100px;
      display: none;
  }

  &__box-circle-check i{
    color: white;
    font-size: 50px;
    transform: rotate(180deg);
    animation: rotate 0.5s both;
}

&__order{
    @include flex-row;
    justify-content: center;
}

&__order-button{   
margin: 30px 0 30px 0;
@include button();
}


 
@include large-screen{
    margin: auto;
    margin-top: -50px;


        &__global-container{
            display: grid;
            grid-template-areas: "entries dishes desserts";
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap:10px;
        }

        &__container{
         
        }

        &__order-button{

        }
    }

    @include x-large-screen{
        &__individual-box{
        height: 50px;
        }
    }   
}

#entries{
    grid-area: entries;
}

#dishes{
    grid-area: dishes;
}

#desserts{
    grid-area: desserts;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}

  @keyframes slide-left {
    0% {
              transform: scaleX(0);
    }
    100% {
              transform: scaleX(-50px);
    }
  }
  

/* FOOTER */

@include footer();







    
