@mixin global-positioning {
    max-width: 1440px;
    width: 97%;
    margin : auto;
}

@mixin totally-centered-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 8px 0 0 0;
}

a{
    text-decoration:none;
    color: black;
}

.header{
    @include global-positioning();
    @include totally-centered-flex();
    margin-bottom: 30px;

    &__prev-icon{
        position: absolute;
        left: 15px;
    }

    &__logo{
        font-size: 60px; 
    }
}

/* IMAGE */

.image {
  position: relative;
  z-index: 0;
}

.image img{
    width:100%;
    max-height: 500px;
    object-fit: cover;
}


/* MENU */

.menu{

    @include global-positioning();
    box-shadow: 10px 10px 8px #888888;
    border-radius: 50px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    background-color: white;

    &__title{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
    align-items: center;
    margin : 0 40px 0 30px;
    }

    &__global-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap:20px;
        height: 300px;
    }

    &__container{
        width: 30%;
    }

    &__container-title{
        margin-left: 25px;
        margin-top: 10px;
    }
    
    &__individual-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 50px;
    padding: 15px;
    cursor :pointer;
    }

  &__box-text{
      font-size: 12px;
      margin-left: 15px;
  }

  &__order{
      text-align: center;
  }

    &__order-button{
        margin: 30px 0 30px 0;
        background-color: #3EB2FD;
        border-radius: 100px;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 20px;
        height: auto;
        line-height: 1.5;
        padding: 6px 20px;
    }
}


/* FOOTER */


.footer{
    background: grey;
    margin-top: 20px;
    &__logo{
        font-size: 60px;
        @include global-positioning();
    }

    &__logo a{
        color: white;
    }

    &__item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: flex-start;
        list-style-type:none;
        padding-left: 0;
        cursor: pointer;
        @include global-positioning();
    }
    &__item li{
        margin: 20px 120px 20px 0;
        color: white;
        font-size: 20px;
        }
        &__item li a{
            color: white;
            }
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {

.menu{
    padding: 0;
    margin: 0;
    margin-top: -60px;
    width: 100%;

    &__global-container{
        height: auto;
        align-items: flex-start;
        margin: 0 15px 0 15px;
    }

    &__container{
        width: 95%;
    }

    &__individual-box{
    padding: 15px;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    }
}

    .footer{
    padding-left: 30px;
        &__logo{
            font-size: 40px;
        }
        &__item{
            flex-direction: column;
            list-style-type:none;
        }
    
        &__item li{
        font-size: 15px;
        margin-top: 6px;
        }
    }
}
    
