@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";
@import "./base/base-rules";
@import "./base/typography";
@import "./base/breakpoints";
@import "./components/button";
@import "./components/heart";
@import "./components/spinner";

@include spinner();

body{
    margin : 0;
}

.header{
    @include flex-row();
    @include totally-centered-flex();
    margin-bottom: 15px;
    background-color: #F2F2F2;
    margin: 0;
    width: 100%;

    &__prev-icon{
        position: absolute;
        left: 15px;
    }

    &__prev-icon a{
    color: black;
    }

    &__logo{
        font-size: 60px; 
    }
    
    &__logo a{
    color: black;
    }
}

/* IMAGE */

.image {
  position: relative;
  z-index: 0;
}

.image img{
    width:100%;
    max-height: 500px;
    object-fit: cover;
}

@include heart();


/* MENU */

.menu{
    @include global-positioning();
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    z-index: 1;
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
    margin-top: -60px;
    width: 100%;
    display: grid;

    &__title{
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 40px;
    }

    &__global-container{
    margin-inline: 15px;
    }

    &__container-title h2{
        margin-left: 25px;
        padding-top: 20px;
        font-size: 15px;
        @include flex-column;
        &::after {
            content: '';
            background: $color-tertiary;
            position: relative;
            margin-top: 5px;
            height: 5px;
            width: 75px;
        }        
    }
    
    &__individual-box{
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    box-shadow: $standard-box-shadow;
    border-radius: 17px;
    cursor :pointer;
    width: 100%;
    height : 60px;
    margin-top: 20px;
    animation: opacity 10s forwards;
    background-color: white;
    &:hover .menu__box-circle-check{
        animation: slide-left 0.8s ease ;
        transform-origin: right;
        @include flex-row();
        @include totally-centered-flex();
    } 
    &:hover .menu__box-price{
        margin-left: 70px;
        transition: 1s ease-in-out ;
    }
    }

  &__box-title{
      font-weight: bold;
  }
  
  &__box-text{
      font-size: 12px;
      margin-left: 25px;
      width: 100%;
  }

  &__box-price{
    margin-right: 20px;
    font-weight: bold;
}

  &__box-circle-check{
      background: $color-tertiary;
      height: 100%;
      @include flex-row;
      @include totally-centered-flex;
      border-radius: 0 17px 17px 0;
      right: 0px;
      padding: 0;
      width: 100px;
      display: none;
  }

  &__box-circle-check i{
    color: white;
    font-size: 50px;
    transform: rotate(180deg);
    animation: rotate 0.7s forwards;
}

&__order{
    @include flex-row;
    justify-content: center;
}

&__order-button{   
margin: 30px 0 30px 0;
@include button();
}

@include large-screen{
    margin: auto;
    margin-top: -50px;

        &__global-container{
            display: grid;
            grid-template-areas: "entries dishes desserts";
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap:10px;
        }
    }

    @include x-large-screen{
        &__individual-box{
        height: 50px;
        }
    }   
}

#entries{
    grid-area: entries;
}

#dishes{
    grid-area: dishes;
}

#desserts{
    grid-area: desserts;
}

@keyframes rotate {
0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-left {
0% {
            transform: scaleX(0);
}
100% {
            transform: scaleX(-50px);
}
}

@keyframes opacity {
0% {
            opacity: 0;
}
60%{
            opacity: 0.9;
}    
100% {
            opacity: 1;
}
}


/* FOOTER */

@include footer();







    
